<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ipleiria.pt.amsi.vapeshop">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />



        <activity android:name=".HomePage" />
        <activity
            android:name=".Produto"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".Profile"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".Vapers"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".Eliquids"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".Customizables"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".Cart"
            android:label="@string/title_activity_cart" />


    </application>

</manifest>